.leaderboard-frame {
    max-width: 400px;
    width: 100%;
    background-color: #3fe5ffa8;
    border-radius: 10px;
    font-weight: bold;
    border: 1px solid black;
}

.leaderboard-frame header {
    font-weight: bold;
    font-size:1.2em;
    color: black;
}