.leaderboard-line-name {
    font-size: 1.1em;
    font-weight: bold;
    color: #123C45
}
.leaderboard-line-metric {
    color: #123C45;
}
.leaderboard-line-name a {
    color: #123C45;
    text-decoration: none;
}
.leaderboard-line-name a:hover {
    color: #F01919;
}
.leaderboard-line-name:hover+.leaderboard-line-metric {
    font-size: 1.1em;
    font-weight: bold;
    color: #F01919;
}
.leaderboard-line-name:hover a {
    color: #F01919;
}
