@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

.p,
h1,
h4 {
  font-family: "Lilita One", cursive !important;
}
/* Slider classes */
.range-slider .range-slider__range {
  background-color: #ed1e1e;
  background-size: auto;
  background-size: 400% 400%;
}
.range-slider .range-slider__thumb {
  background: rgb(181, 179, 240);
  border-radius: 30%;
}
.range-slider .range-slider__thumb[data-active] {
  transform: translate(-50%, -50%) scale(1.25);
}
.range-slider .range-slider__range[data-active] {
  height: 16px;
}
.range-slider {
  background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23555' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E")
    #333;
}
#trophy-requirement-slider > div[data-lower="true"] {
  display: none;
}
#trophy-requirement-slider > div.range-slider__range {
  left: 0 !important;
}
/* Button classes */
button.clubfinder-btn {
  background-color: #7d9bdf;
  font-weight: bold;
  color: #123c45;
  max-width: 50%;
  border: none;
  border-radius: 10px;
}
/* Checkbox classes */
article > label {
  position: relative;
  left: -9999px;
}
article {
  position: relative;
  flex-grow: 1;
  margin: 0 5px;
}
article :hover {
  background-color: rgba(222, 222, 222, 0.25);
  color: white;
}
article div {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #123c457a;
  color: rgb(189, 189, 189);
  border-radius: 10px;
}
article input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
input[type="checkbox"]:checked ~ div {
  background-color: #7d9bdf;
  color: #123c45;
}
