nav {
  background: rgba(27, 47, 69, 0.9);
  color: #fff;
  /* padding: 0.75rem 20vw 0.75rem 20vw; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 6vh;
  min-height: 60px;
  padding-left: 35px;
  padding-right: 35px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  z-index: 1000000;
  box-shadow: 10px 10px 5px #4a585c7a;
  position: absolute;
}
@media screen and (max-width: 768px) {
  nav {
    padding: 0.75rem 10vw 0.75rem 10vw;
  }
}
@media screen and (max-width: 480px) {
  nav {
    padding: 0.75rem 5vw 0.75rem 5vw;
  }
}
nav a {
  color: #c5d3e0;
  text-decoration: none;
}
nav a:hover {
  color: #fff;
}
nav a.active {
  font-weight: bold;
}
/* nav a img {
  min-height: 50px;
} */
nav ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0.25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
nav li {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav li a,
nav li input {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav ul li a {
  display: inline-block;
  height: 2.25em;
  line-height: 2.25em;
  padding: 0 1.25em;
  border: 0;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px transparent;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: rgba(222, 222, 222, 0.25);
}
.nav-elements {
  flex-grow: 1;
  padding: 0 10rem 0 10rem;
}
@import url(https://fonts.googleapis.com/css?family=Raleway);
h2 {
  vertical-align: center;
  text-align: center;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00baf0;
  background: linear-gradient(to left, #f46b45, #eea849);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: rgba(15, 29, 44, 0.959);
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
