anyio==3.5.0
asgiref==3.5.0
asttokens==2.0.5
asyncio==3.4.3
autopep8==1.6.0
backcall==0.2.0
backports.zoneinfo==0.2.1
black==22.6.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.3
cycler==0.11.0
decorator==5.1.1
Django==4.0.8
django-cors-headers==3.13.0
django-crispy-forms==1.14.0
django-debug-toolbar==3.4.0
django-filter==22.1
djangorestframework==3.13.1
executing==0.8.3
flake8==4.0.1
fonttools==4.34.4
h11==0.12.0
httpcore==0.14.7
httpx==0.22.0
idna==3.3
importlib-metadata==4.12.0
ipython==8.3.0
jedi==0.18.1
kiwisolver==1.4.4
Markdown==3.3.7
matplotlib-inline==0.1.3
mccabe==0.6.1
mypy-extensions==0.4.3
numpy==1.23.1
packaging==21.3
parso==0.8.3
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.0
platformdirs==2.5.2
prompt-toolkit==3.0.29
psycopg2==2.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.12.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
requests==2.27.1
rfc3986==1.5.0
rollbar==0.16.3
six==1.16.0
sniffio==1.2.0
sqlparse==0.4.2
stack-data==0.2.0
toml==0.10.2
tomli==2.0.1
traitlets==5.2.0
typing-extensions==4.3.0
urllib3==1.26.9
uvicorn==0.17.6
wcwidth==0.2.5
whitenoise==6.1.0
zipp==3.8.0
