* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  font-family: 'Lilita One', cursive;
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  background-image: url("../public/images/bc_background_2.png");
  top:0px;
  bottom: 0px;
  height: 100%;
  background-repeat: repeat;
  position: absolute;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
width: 100%;
  /* hide scrollbar for IE, Edge and Firefox */
-ms-overflow-style: none;
scrollbar-width: none;
}

/* hide scrollbar for chrome, safari and opera */
.App::-webkit-scrollbar {
display: none;
}

:root {
  --primary-blue-100: hsl(202, 100%, 10%);
  --primary-blue-200: hsl(202, 90%, 15%);
  --primary-blue-300: hsl(202, 80%, 20%);
  --primary-blue-400: hsl(202, 90%, 30%);
  --primary-blue-500: hsl(202, 60%, 40%);
  --primary-blue-600: hsl(202, 50%, 50%);
  --primary-blue-700: hsl(202, 60%, 60%);
  --primary-blue-800: hsl(202, 75%, 75%);
  --primary-blue-900: hsl(202, 90%, 85%);
}


