#BcRating {
    text-shadow: 1px 1px 1px black;
    max-height: max-content;
    align-items: center;
}
#BcRating > img {
    max-height: 5vh;
    min-height: 50px;
}
#BcRating > span {
    font-size: 1.5em;
}