.Player{
    flex-grow: 1 !important;
    width: 100vw;
    padding-top: 30px;
    color: white;
    font-weight: bold;
}


@media screen and (min-width: 1400px) {
    #Rating-and-stats {
        padding-left: 1rem;
    }
}